
body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 auto;
}


/* ------- for parsley  validation ------*/
input.parsley-error, textarea.parsley-error, select.parsley-error, .parsley-error .ms-selection .ms-list, .parsley-error .select2-container-multi .select2-choices, .parsley-error .input_validate {
    background: none repeat scroll 0 0 #fff2f2 !important;
    border: 1px solid #cc0000 !important;
}
.parsley-error-list {
    margin: 0;
    padding: 5px 0 0;
}
.parsley-errors-list li{
	list-style: none !important;
	color: #cc0000;
    font-size: 12px;
}
div.parsley-error .parsley-error-list {
    margin-top: 5px;
}
.parsley-error-list + label {
    margin-top: 10px;
}
/* ------- end of parsley  validation ------*/
.result_info{
	background-color: #d9edf7;    
    height: 37px;
    border-color: #bce8f1;
    color: #31708f;
    border-radius: 4px;
    line-height: 37px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.datepicker{
    z-index: 1000;
}
.navbar-brand{
	padding-top: 1px;
	padding-left: 2px;
}
.navbar-brand img{
	height: 48px;
}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}
.top_action_button{
    padding-left:5px; 
}
.no_wrap{
    white-space: nowrap;
}
.alright{
    text-align: right;
}
.ui-autocomplete{z-index: 9999;}
.datepicker {z-index: 9999;}

.sms{
    color:#00b3ee;
    font-size:18px;
    font-style:italic;
    font-family:"Comic Sans MS","Times New Roman",Arial !important;
}
.modal-header{
    padding: 7px;
}
.modal-footer{
    padding: 5px;
}
.gform .form_sep{
    padding: 2px 1px;
    margin: 3px;
}

/*------------------------*/
#titles{
    font-family:'Cooper Black';
    margin-bottom: 25px;
    text-align: center;
}  
.ti_semester{
    font-family:'Cooper Black';
    margin-bottom: 5px;
    text-align: center;
    padding-top:0px;
}              
table {
    font-family:"Khmer OS Battambang";      
    font-size: 12px;
    width: 100%;                          
}
th {
    text-align: center;                    
}
td{
    padding:4px !important;
}
label {
    font-family:'Khmer OS Battambang';
    font-size: 15px;
} 
p{
    margin: 0 0 3px;
    font-size: 11px;
}
label{
    font-size: 13px;
} 
.sp_th{
    line-height: 2em !important;
} 
#head{
    text-align: center;
    vertical-align: inherit;"
}
#bg_tr{ 
    background-color: #808080;
}
.dv_semester{
    padding-top: 10px;
    margin-bottom:5px;
    font-size: 11px;
}
#comment{
    font-size: 12px;
}
#scor{
    text-align: center;
}                
.header{
    font-family:'Cooper Black';
    margin-top: 5px; 
    margin-bottom: 12px;
    text-align: center;
}
.kh_font{
    font-family:'Khmer OS Muol light';      
    margin-top: 5px;
}
.head_name td{
    border: 0px solid black !important;
    border-collapse: none !important;
    text-align: left;
    font-size: 13px;
}
.dv_area{
    padding-left:15px;
    padding-right:15px;
    margin-bottom:2px;
    font-size: 11px;
}
.dv_img{
    padding-bottom:20px;
    padding-left:20px;
    padding-top:10px;
}
.dv_coment{
    margin-bottom:5px;
    font-size: 11px;
    margin-top:40px;
    padding:20px;
}
.dv_date{
    margin-bottom: 70px;
    text-align:center;
}
.dv_tb{
    padding-left:40px; 
    padding-right:40px;
    margin-bottom:40px;
}

#titles_assessment{
    font-family:'Georgia';
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}  

.head_assessment td{
    border: 0px solid black !important;
    border-collapse: none !important;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.dv_img_assessment{
    padding-left:20px;
}
.dv_logo{
    padding-left:20px;
    margin: 0px;
}
.title_full_time{
    font-family:'Georgia';
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}  
.table-bordered > thead > tr > th {
    border-bottom-width: 0px !important;
}
.dv_border1{
    margin-top:-6px;
    margin-left:74px;
    margin-right:130px; 
    border-bottom:1px solid black;
}
.dv_border2{
    margin-top:-6px;
    margin-left:90px;
    margin-right:130px;
    border-bottom:1px solid black;
}
.dv_border3{
    margin-top:-6px;
    margin-left:40px;
    margin-right:130px; 
    border-bottom:1px solid black;
}
.dv_border4{
    margin-top:-6px;
    margin-left:77px;
    margin-right:-10px;
    border-bottom:1px solid black;
}
.dv_border5{
    margin-top:-6px;
    margin-left:92px;
    margin-right:-10px;
    border-bottom:1px solid black;
}
.dv_border6{
    margin-top:-6px;
    margin-left:44px;
    margin-right:-10px;
    border-bottom:1px solid black;
}
.marg{
    margin-bottom:10px;
}
.totals{
    text-align:center;
    font-weight:bold;
    font-family:'Times New Roman';
}
.foter{
    margin-bottom: 60px; 
    padding:0px;
}
.dv_foter{
    margin-top:20px;
    padding:0px;
}
.foters{
    text-align:right; 
    padding:0px;
}
.dv_foters{
    padding-top:5%;
    padding-left:10%;
}
.l_foter{
    font-weight:bold;
    font-family:'Times New Roman';
}
.f_size{
    font-size:18px;
}
.f_sizes{
    font-size:18px;
    font-weight:bold;
}
#th_color{
    padding-left: 2px !important; 
    background:#D3D3D3 !important; 
    font-size:11px;
}
#th_colorb{
    padding-left: 2px !important; 
    background-color:#8c8c8c !important; 
    font-size:11px;
}
#th_col{
    padding-left: 2px !important; 
    background:#D3D3D3 !important; 
}
#cols{
    vertical-align: middle !important;
    border-bottom-width: none !important;
     background:#D3D3D3  !important;
}
#col_name{
    vertical-align: middle !important; 
    padding-right: 40px;
    padding-left: 40px; 
}
#col_sty{
    vertical-align: middle !important;
}
#col_bg{
    background: #D3D3D3 !important;
}
#col_on{
    border-top: 1px solid #000000 !important;
    vertical-align: middle !important; 
    font-weight: bold; font-size:15px; 
    background: #D3D3D3 !important;
}
#col_mid{
    border-top: 1px solid #000000 !important; 
    vertical-align: middle !important;
}
.bold{
    font-weight: bold;
}
/*------------------------*/

.proccess_loading {
     display:    none;
     position:   fixed;
     z-index:    9999999999999;
     top:        0;
     left:       0;
     height:     100%;
     width:      100%;
     background:url('../../assets/images/loading.gif') 50% 50% no-repeat;
 }
 .truncate {
  height:20px;
  width:150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
  vertical-align:top;
}
@font-face {
 font-family: "Khmer Os Battambang";
 font-style: normal;
 font-weight: normal;
 src: local("Khmer Os Battambang"), url("../../assets/fonts/KhmerOSbattambang.woff") format("woff"), 
 url("../../assets/fonts/KhmerOSbattambang.ttf") format("truetype");
}

@font-face {
 font-family: "Khmer OS Muol Light";
 font-style: normal;
 font-weight: normal;
 src: local("Khmer OS Muol Light"), 
 url("../../assets/fonts/KhmerOS_muollight.ttf") format("truetype");
}

@font-face {
 font-family: "Khmer OS Bokor";
 font-style: normal;
 font-weight: normal;
 src: local("Khmer OS Bokor"), 
 url("../../assets/fonts/KhmerOSBokor.ttf") format("truetype");
}
.class_format_fontBokor{
    font-family: "Khmer OS Bokor" !important;
}
.class_format_fontBattambang{
    font-family: "Khmer Os Battambang" !important;
}
.class_format_fontMuolLight{
    font-family: "Khmer OS Muol Light" !important;
}