
  .data-table {
    border-collapse: collapse;
    font-family: verdana;
  }

  .data-table thead th {
    padding: 4px;
  }

  .data-table tbody tr:nth-child(odd) {
    background-color: #EBFFEA;
  }

  .data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .data-table tbody tr:hover {
    background-color: #BDFFBA;
  }

  .span-delete, #span-addnew { cursor: pointer; }
